# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Задание 2.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\ASUS\RiderProjects\Practics\Практика [3]\Задание 2\.idea\.idea.Задание 2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
