# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Задание 5.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\ASUS\RiderProjects\Practics\Практика [1]\Задание 5\.idea\.idea.Задание 5\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
