# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Задание 14.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\ASUS\RiderProjects\Practics\Практика [10]\Задание 14\.idea\.idea.Задание 14\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
