# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Задание 11.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\ASUS\RiderProjects\Practics\Практика [7]\Задание 11\.idea\.idea.Задание 11\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
